<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die01.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,613},{268,65}}</string>
                <key>offset</key>
                <string>{22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,109},{268,65}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,439},{282,71}}</string>
                <key>offset</key>
                <string>{15,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,85},{282,71}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{262,147}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{262,147}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,171}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,5},{254,171}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{260,165}}</string>
                <key>offset</key>
                <string>{23,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{260,165}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{260,147}}</string>
                <key>offset</key>
                <string>{22,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,2},{260,147}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die07.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{250,141}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,15},{250,141}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,151},{244,133}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,35},{244,133}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die09.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,145},{240,119}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,57},{240,119}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die10.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,135},{232,129}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,51},{232,129}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die11.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{232,131}}</string>
                <key>offset</key>
                <string>{-31,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,50},{232,131}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{238,125}}</string>
                <key>offset</key>
                <string>{-37,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,56},{238,125}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die13.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,151},{248,119}}</string>
                <key>offset</key>
                <string>{-34,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{248,119}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die14.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,175},{262,107}}</string>
                <key>offset</key>
                <string>{-27,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,73},{262,107}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>die15.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,439},{276,95}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,85},{276,95}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,397},{260,79}}</string>
                <key>offset</key>
                <string>{18,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,117},{260,79}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,798},{258,71}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,126},{258,71}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,671},{262,57}}</string>
                <key>offset</key>
                <string>{9,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,122},{262,57}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,812},{266,57}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,116},{266,57}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,680},{262,65}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,104},{262,65}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>hit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,407},{256,73}}</string>
                <key>offset</key>
                <string>{19,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,94},{256,73}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>hit07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,671},{254,71}}</string>
                <key>offset</key>
                <string>{20,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,97},{254,71}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>hit08.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,747},{262,63}}</string>
                <key>offset</key>
                <string>{24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,107},{262,63}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>hit09.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,546},{268,65}}</string>
                <key>offset</key>
                <string>{24,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,111},{268,65}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim01.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,145},{260,79}}</string>
                <key>offset</key>
                <string>{18,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,117},{260,79}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim02.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,401},{256,79}}</string>
                <key>offset</key>
                <string>{15,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,116},{256,79}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim03.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,723},{250,73}}</string>
                <key>offset</key>
                <string>{13,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,118},{250,73}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim04.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,680},{250,67}}</string>
                <key>offset</key>
                <string>{13,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,117},{250,67}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim05.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,871},{254,63}}</string>
                <key>offset</key>
                <string>{14,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,117},{254,63}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim06.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,871},{262,69}}</string>
                <key>offset</key>
                <string>{17,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,113},{262,69}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim07.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,333},{266,73}}</string>
                <key>offset</key>
                <string>{19,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,111},{266,73}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim08.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,477},{268,67}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,109},{268,67}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim09.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,387},{268,69}}</string>
                <key>offset</key>
                <string>{21,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,109},{268,69}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim10.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,665},{266,65}}</string>
                <key>offset</key>
                <string>{20,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,110},{266,65}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim11.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,659},{266,65}}</string>
                <key>offset</key>
                <string>{21,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,111},{266,65}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,408},{268,67}}</string>
                <key>offset</key>
                <string>{22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,111},{268,67}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim13.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,266},{270,65}}</string>
                <key>offset</key>
                <string>{23,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{270,65}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
            <key>swim14.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,401},{268,65}}</string>
                <key>offset</key>
                <string>{22,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,115},{268,65}}</string>
                <key>sourceSize</key>
                <string>{316,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes19.png</string>
            <key>size</key>
            <string>{1008,943}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68c83d855c1df9fdf0a42cfc1fb13397:1755aa9dee434b181c8494d7b84f11f0:a452b37b2daebdcb721eaa7568220c1b$</string>
            <key>textureFileName</key>
            <string>fishes19.png</string>
        </dict>
    </dict>
</plist>
