<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,387},{592,395}}</string>
                <key>offset</key>
                <string>{-42,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,130},{592,395}}</string>
                <key>sourceSize</key>
                <string>{750,525}</string>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,600},{586,405}}</string>
                <key>offset</key>
                <string>{-46,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,120},{586,405}}</string>
                <key>sourceSize</key>
                <string>{750,525}</string>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{598,403}}</string>
                <key>offset</key>
                <string>{-42,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,122},{598,403}}</string>
                <key>sourceSize</key>
                <string>{750,525}</string>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{616,385}}</string>
                <key>offset</key>
                <string>{-33,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,140},{616,385}}</string>
                <key>sourceSize</key>
                <string>{750,525}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes25_swim_2.png</string>
            <key>size</key>
            <string>{1022,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e71fa3ebe7230782066ea342adaa58aa:3d3ba1ea18012f8da91b6915ff80dde3:45efa04a26d0014b5ef8f8ca68edf36d$</string>
            <key>textureFileName</key>
            <string>fishes25_swim_2.png</string>
        </dict>
    </dict>
</plist>
