<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,302},{101,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,29},{101,103}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,365},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{103,101}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,304},{101,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{101,93}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,294},{101,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,41},{101,83}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,462},{101,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,49},{101,69}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,144},{101,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,52},{101,63}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,201},{101,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,52},{101,63}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,304},{101,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,49},{101,69}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,468},{101,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,41},{101,83}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,468},{101,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{101,93}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,201},{101,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{101,101}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,365},{101,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,29},{101,103}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>fish12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,294},{96,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{96,96}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>fish12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,468},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{96,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>fish12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,242},{96,86}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{96,86}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>fish12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,514},{96,56}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,38},{96,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>fish12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,326},{96,72}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{96,72}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>fish12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,144},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{96,96}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>fish13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,457},{113,73}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{113,73}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,330},{113,75}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,406},{115,71}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{115,71}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,391},{119,69}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{119,69}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,407},{123,63}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{123,63}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,306},{125,57}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{125,57}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,148},{125,51}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{125,51}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,276},{123,51}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{123,51}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,407},{121,59}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{121,59}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,393},{119,67}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{119,67}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,462},{117,71}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{117,71}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,329},{115,75}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{115,75}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,294},{115,75}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,19},{115,75}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,331},{113,73}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{113,73}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,434},{117,71}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{117,71}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,365},{121,67}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{121,67}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,407},{123,59}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{123,59}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,348},{125,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{125,51}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,507},{125,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{125,49}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,406},{125,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{125,49}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,306},{125,57}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{125,57}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,326},{123,65}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{123,65}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,318},{119,71}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{119,71}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,397},{115,73}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{115,73}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish13_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,457},{113,73}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{113,73}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>fish14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,198},{194,94}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{194,94}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,102},{194,94}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{194,94}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,102},{196,94}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,8},{196,94}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,102},{196,94}}</string>
                <key>offset</key>
                <string>{17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{196,94}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{196,98}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,2},{194,98}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{194,98}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{194,98}}</string>
                <key>offset</key>
                <string>{16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{194,98}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{190,98}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{190,98}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,98},{192,98}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{192,98}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{194,98}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{194,98}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,102},{196,94}}</string>
                <key>offset</key>
                <string>{18,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,6},{196,94}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish14_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{196,94}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,13},{196,94}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>fish15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,411},{100,53}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{100,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,401},{100,53}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{100,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,472},{98,53}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{98,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,472},{98,53}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{98,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,468},{102,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,63}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,468},{102,53}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{102,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,356},{104,53}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{104,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,276},{100,53}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{100,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,456},{96,53}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{96,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,466},{96,53}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{96,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,472},{98,53}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{98,53}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>fish16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,424},{88,75}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{88,75}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,411},{88,83}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{88,83}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,411},{88,83}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{88,83}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,479},{90,91}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{90,91}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,479},{92,91}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{92,91}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,198},{94,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{94,81}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,198},{94,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{94,81}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,397},{94,73}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{94,73}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,496},{94,71}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{94,71}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,496},{94,71}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{94,71}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,356},{94,71}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{94,71}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,466},{92,89}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{92,89}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,466},{92,89}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{92,89}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish16_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,456},{88,83}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{88,83}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>fish17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{163,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{163,144}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,154}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{163,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{163,152}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,198},{161,118}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{161,118}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,2},{159,78}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{159,78}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,286},{157,68}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{157,68}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,276},{155,70}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{155,70}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,198},{153,76}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{153,76}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,198},{153,86}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{153,86}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,198},{151,106}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{151,106}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,198},{153,126}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{153,126}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,156},{153,144}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{153,144}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{155,154}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{155,154}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{155,154}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{155,154}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{157,152}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{157,152}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,158},{157,146}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{157,146}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{159,136}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{159,136}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,140},{159,134}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{159,134}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>fish17_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{163,140}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{163,140}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishPlist_1.png</string>
            <key>size</key>
            <string>{2040,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6acacd99ad5ea26cf1ef7c3423e297c2:dc16ec309c02adfbf13c0c243b952e66:3887485c9d5b621f7cf04998ecf252a5$</string>
            <key>textureFileName</key>
            <string>fishPlist_1.png</string>
        </dict>
    </dict>
</plist>
