<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,143}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{153,143}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{145,147}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{145,147}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{125,159}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{125,159}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,403},{117,161}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,2},{117,161}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{129,157}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{129,157}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{141,149}}</string>
                <key>offset</key>
                <string>{19,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,2},{141,149}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,272},{143,125}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,7},{143,125}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,272},{149,113}}</string>
                <key>offset</key>
                <string>{23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,14},{149,113}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,413},{155,115}}</string>
                <key>offset</key>
                <string>{26,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{155,115}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,292},{151,119}}</string>
                <key>offset</key>
                <string>{25,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,19},{151,119}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,145},{147,125}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,21},{147,125}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{141,133}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,21},{141,133}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,268},{133,145}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,22},{133,145}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,145},{125,149}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,24},{125,149}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,387},{121,157}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,23},{121,157}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>die_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,268},{117,161}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,24},{117,161}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hit_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,147},{151,143}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{151,143}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hit_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{139,157}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{139,157}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hit_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{117,163}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{117,163}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hit_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,149},{117,161}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{117,161}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hit_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{127,157}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{127,157}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hit_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,387},{137,139}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{137,139}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hit_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,133},{145,133}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{145,133}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hit_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{151,137}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{151,137}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hit_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{151,143}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{151,143}}</string>
                <key>sourceSize</key>
                <string>{207,185}</string>
            </dict>
            <key>hm_hit00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,913},{37,87}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{37,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_hit00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,956},{35,85}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{35,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_hit00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,859},{37,85}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{37,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_hit00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,700},{39,85}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{39,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_hit00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,913},{41,85}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{41,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_hit00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,869},{41,87}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{41,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_hit00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,787},{41,87}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{41,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,904},{39,87}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{39,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,952},{39,87}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{39,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,611},{39,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,956},{41,87}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,859},{43,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,770},{45,85}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,780},{45,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,772},{47,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{47,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{47,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,772},{45,85}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,770},{43,87}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{43,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,911},{43,87}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_swim00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,956},{41,87}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{41,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,522},{39,87}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{39,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,876},{33,85}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{33,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,970},{27,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{27,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,970},{27,83}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{27,83}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,993},{25,85}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{25,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,963},{23,85}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{23,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,993},{25,85}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{25,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,859},{23,87}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{23,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,945},{23,87}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{23,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,770},{23,87}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{23,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{25,85}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{25,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,857},{27,85}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{27,85}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,859},{29,87}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{29,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>hm_taunt00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,913},{41,87}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{41,87}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>swim_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,661},{119,127}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{119,127}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,653},{119,129}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{119,129}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,530},{119,129}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{119,129}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,647},{119,121}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{119,121}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,649},{119,121}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{119,121}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,661},{119,121}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{119,121}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,905},{117,113}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{117,113}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,784},{119,113}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{119,113}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,522},{119,123}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{119,123}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,653},{119,125}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,125}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,526},{119,125}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{119,125}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,522},{121,125}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{121,125}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,784},{121,127}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{121,127}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,784},{121,125}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{121,125}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,526},{123,125}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{123,125}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,530},{121,129}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{121,129}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,399},{121,129}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{121,129}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
            <key>swim_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,782},{119,129}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{119,129}}</string>
                <key>sourceSize</key>
                <string>{165,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes3.png</string>
            <key>size</key>
            <string>{907,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3da4e06f73a29a5ef8db98f6ad8b9d08:92c237c4fad3a88a2dedb777e4b4e86b:1fc242158644c56b8a9c2e86a1c9ef63$</string>
            <key>textureFileName</key>
            <string>fishes3.png</string>
        </dict>
    </dict>
</plist>
