<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GhostShip01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,682},{550,338}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,4},{550,338}}</string>
                <key>sourceSize</key>
                <string>{710,374}</string>
            </dict>
            <key>GhostShip02.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,342},{550,338}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,4},{550,338}}</string>
                <key>sourceSize</key>
                <string>{710,374}</string>
            </dict>
            <key>GhostShip03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{550,338}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,4},{550,338}}</string>
                <key>sourceSize</key>
                <string>{710,374}</string>
            </dict>
            <key>GhostShip04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{550,338}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,4},{550,338}}</string>
                <key>sourceSize</key>
                <string>{710,374}</string>
            </dict>
            <key>GhostShip05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{550,338}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,4},{550,338}}</string>
                <key>sourceSize</key>
                <string>{710,374}</string>
            </dict>
            <key>GhostShip06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,338}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,4},{550,338}}</string>
                <key>sourceSize</key>
                <string>{710,374}</string>
            </dict>
            <key>watership01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{322,120}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,52},{322,120}}</string>
                <key>sourceSize</key>
                <string>{446,172}</string>
            </dict>
            <key>watership02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,326},{324,100}}</string>
                <key>offset</key>
                <string>{32,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,59},{324,100}}</string>
                <key>sourceSize</key>
                <string>{446,172}</string>
            </dict>
            <key>watership03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,652},{310,114}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,50},{310,114}}</string>
                <key>sourceSize</key>
                <string>{446,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishPlist_4.png</string>
            <key>size</key>
            <string>{1228,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bb784629fafccb46e586f2729ccf9ba:fe44122ab5b123ffa5a790c1f34c1055:3bcd704cab010af6c33f1422c83e790f$</string>
            <key>textureFileName</key>
            <string>fishPlist_4.png</string>
        </dict>
    </dict>
</plist>
