<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lamb_die01.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,812},{110,62}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,39},{110,62}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die02.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,366},{118,68}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,39},{118,68}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die03.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,254},{110,58}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,41},{110,58}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die04.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,586},{90,76}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{90,76}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die05.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,760},{90,78}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{90,78}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die06.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,578},{98,78}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{98,78}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die07.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,694},{102,72}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{102,72}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die08.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,798},{104,62}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,1},{104,62}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die09.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,876},{106,60}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{106,60}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die10.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,616},{108,66}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{108,66}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die11.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,678},{116,68}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{116,68}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die12.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,426},{122,80}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{122,80}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die13.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,186},{130,72}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,40},{130,72}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die14.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,186},{130,66}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,53},{130,66}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die15.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,586},{108,70}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,55},{108,70}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_die16.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,202},{98,72}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,54},{98,72}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,658},{112,60}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,39},{112,60}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,904},{110,56}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,40},{110,56}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,876},{106,60}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{106,60}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{102,64}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{102,64}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,798},{104,68}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{104,68}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_hit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,790},{110,68}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{110,68}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim01.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,748},{108,62}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,39},{108,62}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim02.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,904},{110,62}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,40},{110,62}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim03.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,658},{112,64}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{112,64}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim04.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,546},{116,68}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{116,68}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim05.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,508},{120,76}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{120,76}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim06.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,344},{122,80}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{122,80}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim07.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,384},{120,80}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,43},{120,80}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim08.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,466},{118,78}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,43},{118,78}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim09.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,796},{112,70}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,44},{112,70}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim10.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,772},{110,66}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,43},{110,66}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim11.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,684},{108,62}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,41},{108,62}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim12.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,852},{108,58}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,41},{108,58}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_swim13.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,884},{108,58}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,41},{108,58}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,584},{110,62}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,39},{110,62}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,904},{114,62}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,42},{114,62}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,947},{104,60}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{104,60}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt04.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,486},{90,74}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,34},{90,74}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt05.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,678},{82,80}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{82,80}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt06.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,696},{92,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{92,82}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt07.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,580},{112,84}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{112,84}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt08.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,260},{124,82}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{124,82}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt09.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,254},{126,66}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{126,66}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>lamb_taunt10.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,322},{122,60}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{122,60}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>shark_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{325,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{325,95}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{319,99}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{319,99}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{315,105}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{315,105}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,620},{313,91}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{313,91}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,303},{317,85}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{317,85}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_hit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,931},{313,87}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{313,87}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_hit07.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,95},{309,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{309,89}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_hit08.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,624},{321,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{321,85}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{331,95}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim02.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{327,93}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{327,93}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim03.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{325,91}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{325,91}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{319,91}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{319,91}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,303},{315,93}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{315,93}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim06.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,622},{307,95}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{307,95}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim07.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,622},{297,97}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{297,97}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim08.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,202},{285,99}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{285,99}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim09.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,303},{279,101}}</string>
                <key>offset</key>
                <string>{-26,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{279,101}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim10.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,303},{275,103}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{275,103}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,303},{281,103}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{281,103}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim12.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,97},{291,103}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{291,103}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
            <key>shark_swim13.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,303},{313,101}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{313,101}}</string>
                <key>sourceSize</key>
                <string>{333,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes5.png</string>
            <key>size</key>
            <string>{1021,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:688ef44d348a4bc9c5d7c8577bfd3a38:42e83ae04df38e064703e9a850d9a71e:10ee6a166c1b56ac96a372f885ac3720$</string>
            <key>textureFileName</key>
            <string>fishes5.png</string>
        </dict>
    </dict>
</plist>
