<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,307},{301,89}}</string>
                <key>offset</key>
                <string>{5,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,40},{301,89}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die02.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{293,103}}</string>
                <key>offset</key>
                <string>{14,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,22},{293,103}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{307,111}}</string>
                <key>offset</key>
                <string>{19,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,11},{307,111}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die04.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,87},{291,115}}</string>
                <key>offset</key>
                <string>{30,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,7},{291,115}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die05.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,606},{277,115}}</string>
                <key>offset</key>
                <string>{44,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,4},{277,115}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die06.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,705},{273,103}}</string>
                <key>offset</key>
                <string>{41,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,10},{273,103}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die07.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,606},{277,97}}</string>
                <key>offset</key>
                <string>{29,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,16},{277,97}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die08.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,329},{275,109}}</string>
                <key>offset</key>
                <string>{18,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,13},{275,109}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die09.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,329},{273,117}}</string>
                <key>offset</key>
                <string>{11,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,10},{273,117}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die10.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,204},{283,123}}</string>
                <key>offset</key>
                <string>{10,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,7},{283,123}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die11.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,705},{271,115}}</string>
                <key>offset</key>
                <string>{5,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,12},{271,115}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die12.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,329},{273,103}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,27},{273,103}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>die13.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{293,83}}</string>
                <key>offset</key>
                <string>{15,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,47},{293,83}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{313,89}}</string>
                <key>offset</key>
                <string>{-1,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{313,89}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,640},{311,87}}</string>
                <key>offset</key>
                <string>{0,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{311,87}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{321,77}}</string>
                <key>offset</key>
                <string>{7,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,23},{321,77}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,317},{311,75}}</string>
                <key>offset</key>
                <string>{15,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,20},{311,75}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,311},{307,71}}</string>
                <key>offset</key>
                <string>{17,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,22},{307,71}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>hit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{301,69}}</string>
                <key>offset</key>
                <string>{14,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,26},{301,69}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>hit07.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{307,63}}</string>
                <key>offset</key>
                <string>{11,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,35},{307,63}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>hit08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{311,87}}</string>
                <key>offset</key>
                <string>{11,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,35},{311,87}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,620},{305,89}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,53},{305,89}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,311},{305,85}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,51},{305,85}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{303,91}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,49},{303,91}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim04.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{301,83}}</string>
                <key>offset</key>
                <string>{2,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,49},{301,83}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim05.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,305},{299,75}}</string>
                <key>offset</key>
                <string>{3,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,48},{299,75}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim06.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,618},{303,73}}</string>
                <key>offset</key>
                <string>{8,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,47},{303,73}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim07.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,305},{301,77}}</string>
                <key>offset</key>
                <string>{8,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,45},{301,77}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim08.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,913},{301,77}}</string>
                <key>offset</key>
                <string>{9,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{301,77}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim09.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,610},{301,77}}</string>
                <key>offset</key>
                <string>{10,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{301,77}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,620},{307,79}}</string>
                <key>offset</key>
                <string>{11,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,49},{307,79}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,608},{299,79}}</string>
                <key>offset</key>
                <string>{5,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,50},{299,79}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,311},{307,81}}</string>
                <key>offset</key>
                <string>{5,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,53},{307,81}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
            <key>swim13.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{313,85}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,53},{313,85}}</string>
                <key>sourceSize</key>
                <string>{375,299}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes21.png</string>
            <key>size</key>
            <string>{995,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78f078e8e46e420a828779041fd583a1:53eeb9fb90c1f3b7f4d4dc192d6d93d8:6220bba4954dd610269d05336805cfe6$</string>
            <key>textureFileName</key>
            <string>fishes21.png</string>
        </dict>
    </dict>
</plist>
