<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{471,200}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,19},{471,200}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{467,214}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{467,214}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{475,206}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,62},{475,206}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{471,184}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,71},{471,184}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{457,172}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,69},{457,172}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,479},{453,182}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,68},{453,182}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{455,200}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,58},{455,200}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon08.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,471},{459,228}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,42},{459,228}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon09.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,475},{459,236}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{459,236}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes24_1.png</string>
            <key>size</key>
            <string>{988,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96781f808b96f434ac944ced80d352ab:d42aab97da32f18c1b3042ecaa898d6b:4d031a8b8e826de5c0e75caa80f91f72$</string>
            <key>textureFileName</key>
            <string>fishes24_1.png</string>
        </dict>
    </dict>
</plist>
