<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,551},{423,122}}</string>
                <key>offset</key>
                <string>{29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,30},{423,122}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{447,124}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,27},{447,124}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{475,130}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{475,130}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,140}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{481,140}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,485},{465,134}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{465,134}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{445,122}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{445,122}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{433,122}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{433,122}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,126},{425,118}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,31},{425,118}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,126},{421,120}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,31},{421,120}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,126},{423,122}}</string>
                <key>offset</key>
                <string>{29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,30},{423,122}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,424},{389,136}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,16},{389,136}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,126},{403,118}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{403,118}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,562},{419,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,39},{419,98}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,692},{411,128}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{411,128}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,822},{407,124}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{407,124}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,126},{423,146}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{423,146}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,553},{423,152}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{423,152}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,246},{401,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{401,176}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,562},{411,128}}</string>
                <key>offset</key>
                <string>{21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,17},{411,128}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
            <key>fish21_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,551},{423,122}}</string>
                <key>offset</key>
                <string>{29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,30},{423,122}}</string>
                <key>sourceSize</key>
                <string>{481,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishPlist_5.png</string>
            <key>size</key>
            <string>{1189,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f98683e2374fbd777845a5db17d136ca:66c5c638f6fb27fd0e37aa3c26a0bdfe:10c0cad9fbe68f6ae22032d4c545943b$</string>
            <key>textureFileName</key>
            <string>fishPlist_5.png</string>
        </dict>
    </dict>
</plist>
