<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,324},{318,103}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,127},{318,103}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{312,109}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,125},{312,109}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,642},{308,109}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,123},{308,109}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{304,97}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,122},{304,97}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,624},{304,95}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,121},{304,95}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,608},{290,105}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,99},{290,105}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{284,109}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,98},{284,109}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,608},{292,97}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,113},{292,97}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,930},{304,91}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,119},{304,91}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,644},{318,91}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,120},{318,91}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{312,107}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,121},{312,107}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{320,97}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,131},{320,97}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,316},{306,99}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,127},{306,99}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,288},{282,93}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,126},{282,93}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{286,83}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,128},{286,83}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,572},{282,85}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,121},{282,85}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,586},{284,91}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,108},{284,91}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{276,107}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,98},{276,107}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{278,105}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,102},{278,105}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{294,93}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,115},{294,93}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,670},{320,87}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,121},{320,87}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,93}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,115},{334,93}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>swim1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{330,105}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,113},{330,105}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{320,117}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,97},{320,117}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,298},{286,89}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,107},{286,89}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,521},{244,103}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,103},{244,103}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,782},{188,135}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,93},{188,135}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,193},{174,155}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,93},{174,155}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,838},{178,175}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,94},{178,175}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,350},{166,211}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,96},{166,211}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{162,225}}</string>
                <key>offset</key>
                <string>{-15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,96},{162,225}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,241},{156,231}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,91},{156,231}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,490},{156,233}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,90},{156,233}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,521},{154,243}}</string>
                <key>offset</key>
                <string>{-19,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,87},{154,243}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,2},{146,237}}</string>
                <key>offset</key>
                <string>{-26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,88},{146,237}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,229},{150,225}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,91},{150,225}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2},{176,189}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{176,189}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,859},{158,159}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,96},{158,159}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,859},{156,165}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,97},{156,165}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,456},{148,205}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,96},{148,205}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,249},{146,239}}</string>
                <key>offset</key>
                <string>{-9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,94},{146,239}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,571},{148,265}}</string>
                <key>offset</key>
                <string>{-10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,82},{148,265}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,546},{168,257}}</string>
                <key>offset</key>
                <string>{-16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{168,257}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{174,245}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,82},{174,245}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,663},{194,221}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,80},{194,221}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,805},{190,215}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,71},{190,215}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,563},{184,217}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,76},{184,217}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{164,251}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,73},{164,251}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,872},{148,273}}</string>
                <key>offset</key>
                <string>{-21,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,71},{148,273}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,288},{152,281}}</string>
                <key>offset</key>
                <string>{-20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{152,281}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{162,261}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,69},{162,261}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,766},{200,239}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,71},{200,239}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,265},{254,219}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,77},{254,219}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,280},{264,209}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,83},{264,209}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,308},{298,187}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,95},{298,187}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
            <key>taunt_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,324},{316,123}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,122},{316,123}}</string>
                <key>sourceSize</key>
                <string>{346,355}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes22_swim_taunt.png</string>
            <key>size</key>
            <string>{2043,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7f8e3bef9c2023f03c8936eae714d00:e7b912a54576d0bea2ea437cd76b2ed3:0499ca4767623bfb95cd59ada0d4424f$</string>
            <key>textureFileName</key>
            <string>fishes22_swim_taunt.png</string>
        </dict>
    </dict>
</plist>
