<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{459,238}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{459,238}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{461,242}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{461,242}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{445,246}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{445,246}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,244}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{471,244}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon14.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,492},{467,220}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{467,220}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
            <key>dragon15.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{475,200}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{475,200}}</string>
                <key>sourceSize</key>
                <string>{501,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes24_2.png</string>
            <key>size</key>
            <string>{685,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fc0c38cc43bbfcf989f3afc38b56868:7af87973468b41be73fb47c83503d592:160b0083c3461ede05f088446eac03c3$</string>
            <key>textureFileName</key>
            <string>fishes24_2.png</string>
        </dict>
    </dict>
</plist>
