<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,847},{352,167}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,90},{352,167}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,495},{350,177}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,89},{350,177}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,656},{316,163}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,89},{316,163}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,495},{328,161}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,89},{328,161}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{376,159}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,87},{376,159}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{372,153}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,98},{372,153}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,495},{340,153}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,102},{340,153}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{354,163}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,102},{354,163}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{356,173}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,102},{356,173}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,153},{362,175}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,102},{362,175}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,495},{352,179}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,101},{352,179}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,845},{340,177}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,99},{340,177}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,328},{356,167}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,97},{356,167}}</string>
                <key>sourceSize</key>
                <string>{414,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes23_swim.png</string>
            <key>size</key>
            <string>{837,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:854fad01824ab41d27e9e007a92d8816:b968bd29d9113d45029e7468447fbb8b:cc549cb011afa456b50a8eaeb647f064$</string>
            <key>textureFileName</key>
            <string>fishes23_swim.png</string>
        </dict>
    </dict>
</plist>
