<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,886},{258,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{258,133}}</string>
                <key>sourceSize</key>
                <string>{272,151}</string>
            </dict>
            <key>fish22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,751},{260,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{260,133}}</string>
                <key>sourceSize</key>
                <string>{272,151}</string>
            </dict>
            <key>fish22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,616},{266,133}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{266,133}}</string>
                <key>sourceSize</key>
                <string>{272,151}</string>
            </dict>
            <key>fish22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,347},{256,135}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{256,135}}</string>
                <key>sourceSize</key>
                <string>{272,151}</string>
            </dict>
            <key>fish22_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,886},{258,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{258,133}}</string>
                <key>sourceSize</key>
                <string>{272,151}</string>
            </dict>
            <key>fish22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,210},{258,135}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{258,135}}</string>
                <key>sourceSize</key>
                <string>{272,151}</string>
            </dict>
            <key>fish22_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,347},{256,135}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{256,135}}</string>
                <key>sourceSize</key>
                <string>{272,151}</string>
            </dict>
            <key>fish22_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,616},{266,133}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{266,133}}</string>
                <key>sourceSize</key>
                <string>{272,151}</string>
            </dict>
            <key>fish23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,519},{367,95}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{367,95}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,242},{371,99}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{371,99}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{381,101}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{381,101}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{387,101}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{387,101}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,105},{377,103}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{377,103}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,418},{373,99}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{373,99}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,623},{371,109}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{371,109}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,242},{371,113}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{371,113}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{371,121}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{371,121}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{371,119}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{371,119}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{373,119}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{373,119}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,115}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{379,115}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,242},{379,109}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{379,109}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,615},{381,105}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{381,105}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,615},{381,105}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{381,105}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,105},{379,103}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{379,103}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,317},{373,99}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{373,99}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish23_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,210},{377,105}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{377,105}}</string>
                <key>sourceSize</key>
                <string>{419,155}</string>
            </dict>
            <key>fish24_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,646},{243,90}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{243,90}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,773},{243,86}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,23},{243,86}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,269},{245,82}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,26},{245,82}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,738},{247,78}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{247,78}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,253},{249,76}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{249,76}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,818},{255,74}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{255,74}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,484},{261,78}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{261,78}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,347},{265,78}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,27},{265,78}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{265,78}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,25},{265,78}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,564},{267,80}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{267,80}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,646},{269,80}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{269,80}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,808},{265,76}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{265,76}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,728},{265,78}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{265,78}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,894},{263,84}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{263,84}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,516},{255,92}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{255,92}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>fish24_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{249,94}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{249,94}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishPlist_3.png</string>
            <key>size</key>
            <string>{1331,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79f203f8847247d132c4d900c748d3c1:60697a541c98666baf9cbdcf20e20ff5:097c2a1f5cb4b917ad7f0f7a044a10d2$</string>
            <key>textureFileName</key>
            <string>fishPlist_3.png</string>
        </dict>
    </dict>
</plist>
