<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swim1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,278},{232,78}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,88},{232,78}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,526},{246,88}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,77},{246,88}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,424},{250,100}}</string>
                <key>offset</key>
                <string>{19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,67},{250,100}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{246,110}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,70},{246,110}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,616},{232,86}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,100},{232,86}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,704},{216,120}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,78},{216,120}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,512},{204,124}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,69},{204,124}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,826},{210,106}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,83},{210,106}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{210,140}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{210,140}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,718},{198,160}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,53},{198,160}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{196,144}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,64},{196,144}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,880},{210,100}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,86},{210,100}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{220,76}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,98},{220,76}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{266,116}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,102},{266,116}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{274,88}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,102},{274,88}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,206},{280,90}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,102},{280,90}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{280,90}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,103},{280,90}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{278,92}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,102},{278,92}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{274,80}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,99},{274,80}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,104},{280,100}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,101},{280,100}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,126}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,100},{282,126}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,100}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,99},{282,100}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
            <key>swim2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,298},{274,124}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,100},{274,124}}</string>
                <key>sourceSize</key>
                <string>{298,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes20_swim.png</string>
            <key>size</key>
            <string>{653,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f14ac804e93ac89778fb095e80d8c3:71b1d2a1d58564f690470a081bd62ca7:c8f0f44b47e777a3bd2de6dc14dc5b91$</string>
            <key>textureFileName</key>
            <string>fishes20_swim.png</string>
        </dict>
    </dict>
</plist>
